body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#word-container {
    margin: 20px 0;
    font-size: 24px;
}

#alphabet-container {
    margin: 20px 0;
}

#alphabet-container button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#hangman-container {
    margin: 20px 0;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}